img {
  width: 40rem;
  /* height: 30rem; */
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  align-self: center;
}

.logo:hover {
  cursor: pointer;
}

.contentEl {
  display: flex;
  flex-direction: column;
}

.about-us-container {
  align-content: center;
  display: flex;
  flex-direction: column;
}
